a {
  text-decoration: none;
  color: #fff;
}

a:hover, a:active {
  color: #ccc;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
